<h1>Picture Details #<%= @picture.id %></h1>

<a href="http://localhost:3000/delete_picture/<%= @picture.id %>">Delete this picture</a>

<img src = "<%= @picture.source %>">

<p> <%= @picture.caption %> </p>