<h1>Your picture has been updated</h1>

<img width="200"src="<%= @p_update.source %>">

<p>Updated Caption: <%= @p_update.caption %></p>

<a href="http://localhost:3000/all_pictures">For the full list of pictures please click here</a>